footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

footer input{
    display: none;
}

footer label{
    position: absolute;
    align-self: flex-end;
    bottom: 4.7rem;
    z-index: 3;
}

.fundo__preto{
    width: 100vw;
    height: 100vh;
    opacity: 0.60;
    background: #000;
    margin-bottom: -3.625rem;
    display: none;
}

footer input:checked ~ * .botao__mais{
    animation-name: mais-pra-x;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes mais-pra-x {
    from {rotate: 0deg; font-size: 3rem;}
    to {rotate: 45deg; font-size: 3rem;}
}

footer input:checked ~ .botao__camera__div{
    display: flex;  
    bottom: 9.2rem;
}

footer input:checked ~ .botao__pin__div{
    display: flex;
    bottom: 13.7rem;
}

footer input:checked ~ .fundo__preto{
    display: flex;
}

footer span{
    margin: 0  1rem 0 auto;
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0px 4px 16px rgba(72, 148, 255, 0.50);
    border-radius: 100%;
    border: none;
    background: var(--azul);
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



.botao__camera__div{
    display: none;
    align-items: center;
    z-index: 2;
    position: absolute;
    align-self: flex-end;
    gap: 1rem;

    animation-name: camera;
    animation-duration: 0.25s;
    animation-timing-function: ease-out;
}

@keyframes camera{
    0% {bottom: 4.7rem;}
    100% {bottom: 9,2rem;}
}

.botao__pin__div{
    display: none;
    align-items: center;
    z-index: 1;
    position: absolute;
    align-self: flex-end;
    gap: 1rem;

    animation-name: pin;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes pin{
    0% {bottom: 4.7rem;}
    50% {bottom: 9.2rem;}
    100% {bottom: 13.7rem;}
}

footer span img{
    width: 1.5rem;
}

.botao__camera__div p, .botao__pin__div p{
    color: var(--cinza-forte);
    font-size: 0rem;
    font-weight: 500;
    background: none;
    line-height: 1.2rem;
    padding: 0.125rem 0.5rem;
    border-radius: 145rem;

    animation-name: texto;
    animation-duration: 0.25s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes texto {
   from {font-size: 0; background: none;}
   to {font-size: 0.75rem; background: #fff;}
}


nav{
    display: flex;
    gap: 2.25rem;
    justify-content: center;
    padding-bottom: 0.5rem;
    background: #fff;
    height: 3.125rem;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.06);
}

nav a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}


.nav__texto{
    color: var(--cinza-fraco);
    line-height: 1.1875rem;
    font-size: 0.75rem;
    font-weight: 400;
}

@media screen and (min-width: 1440px) {
    footer{
        display: none;
    }
}
